body {
  padding-top : 125px;
  /* space for navbar */
  padding-left : 25px;
  background-image : url("../assets/bg-tile.jpg");
}

.navbar {
  box-shadow: 0px 2px 2px 2px #333;
}

.navbar-fixed-top {
    min-height: 80px;
}

.navbar-nav > li > a {
    padding-top: 35%;
    padding-bottom: 35%;
/*    line-height: 80px;*/
}
.navbar-right {
    margin-right: 25px;
}

#search {
  background-color : white;
  padding : 15px;
  margin : 15px;
  display : inline-block;
  box-shadow: 0px 0px 2px 2px #333;
}

#add {
  background-color : white;
  padding : 15px;
  margin : 15px;
  display : inline-block;
  box-shadow: 0px 0px 2px 2px #333;
}

#events div {
  background-color : white;
  padding : 15px;
  margin : 15px;
  display : inline-block;
  box-shadow: 0px 0px 2px 2px #333;
  float : left;
}