body {
  padding-top : 125px;
  /* space for navbar */
  padding-left : 25px;
  background-image : url("../assets/bg-tile.jpg");
}

.eventImage {
  max-width: 400px;
  width: 100%;
  height: auto;
}

.event {
  min-width : 300px;
}

.navbar {
  box-shadow: 0px 2px 2px 2px #333;
}

.navbar-fixed-top {
    min-height: 80px;
}

.navbar-nav > li > a {
    padding-top: 35%;
    padding-bottom: 35%;
/*    line-height: 80px;*/
}
.navbar-right {
    margin-right: 25px;
}

#homeButtons {
  margin-top: 3%;
}

#searchbar {
  margin: 7%;
}

#search {
  background-color : white;
  margin : -50px 0 0 -150px;
  position: absolute;
  left: 50%;
  top: 50%;
  display : block;
  box-shadow: 0px 0px 2px 2px #333;
  text-align: center;
  padding-left:5%;
  padding-right:5%;
}

#add {
  width: 40%;
}

.paper {
  background-color : white;
  padding : 15px;
  margin : 15px;
  display : inline-block;
  box-shadow: 0px 0px 2px 2px #333;
}
.floatLeft {
  float : left;
}

.center {
  display : block;
  margin : auto;
  width : 50px;
  height : 50px;
}

#singleEvent {
  float: left;
  width: 45%;
  position: fixed;
}

#singleEvent img {
  display: block;
  margin: auto;
}