<div id="events">
  <div>
   <h1>Events</h1>
   <span><i>Showing events for {{targetZipsString}}</i></span>
   <form>
   <input type="text" ng-model="searchText" placeholder='Search'>
   </form>
  </div>
  <div ng-repeat="event in events | filter:searchText">
     <h3><p ng-model='event.eventName'>Event: {{event.eventName}}</p></h3>
     <p ng-model='event.zipCode'>Zipcode: {{event.zipCode}}</p>
     <p ng-model='event.streetAddress'>Address: {{event.streetAddress}}</p>
     <p ng-model='event.eventDescription'>Description: {{event.eventDescription}}</p>
     <p ng-model='event.startDate'>Date: {{event.startDate}}</p>
     <p ng-model='event.time'>Time: {{event.time}}</p>
     <img src='{{event.photo}}'/>
     <p ng-model='event.tags'>Tags: {{event.tags}}</p>
   </div>
</div>